# General rules
*.log
*.tgz
.env*
.DS_Store # if you're on MacOS
*.pid
*.seed
*.pid.lock

# Backend-specific rules
backend/logs
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*
backend/lerna-debug.log*
backend/.pnpm-debug.log*
backend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
backend/lib-cov
backend/coverage
backend/*.lcov
backend/.nyc_output
backend/.grunt
backend/bower_components
backend/.lock-wscript
backend/build/Release
backend/node_modules/
backend/jspm_packages/
backend/web_modules/
backend/*.tsbuildinfo
backend/.npm
backend/.eslintcache
backend/.stylelintcache
backend/.rpt2_cache/
backend/.rts2_cache_cjs/
backend/.rts2_cache_es/
backend/.rts2_cache_umd/
backend/.node_repl_history
backend/.parcel-cache
backend/.next
backend/out
backend/.nuxt
backend/.vuepress/dist
backend/.temp
backend/.cache
backend/.docusaurus
backend/.serverless/
backend/.fusebox/
backend/.dynamodb/
backend/.tern-port
backend/.vscode-test
backend/.yarn/cache
backend/.yarn/unplugged
backend/.yarn/build-state.yml
backend/.yarn/install-state.gz
backend/.pnp.*

# Frontend-specific rules
frontend/logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/lerna-debug.log*
frontend/.pnpm-debug.log*
frontend/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
frontend/lib-cov
frontend/coverage
frontend/*.lcov
frontend/.nyc_output
frontend/.grunt
frontend/bower_components
frontend/.lock-wscript
frontend/build/Release
frontend/node_modules/
frontend/jspm_packages/
frontend/web_modules/
frontend/*.tsbuildinfo
frontend/.npm
frontend/.eslintcache
frontend/.stylelintcache
frontend/.rpt2_cache/
frontend/.rts2_cache_cjs/
frontend/.rts2_cache_es/
frontend/.rts2_cache_umd/
frontend/.node_repl_history
frontend/.parcel-cache
frontend/.next
frontend/out
frontend/.nuxt
frontend/.vuepress/dist
frontend/.temp
frontend/.cache
frontend/.docusaurus
frontend/.serverless/
frontend/.fusebox/
frontend/.dynamodb/
frontend/.tern-port
frontend/.vscode-test
frontend/.yarn/cache
frontend/.yarn/unplugged
frontend/.yarn/build-state.yml
frontend/.yarn/install-state.gz
frontend/.pnp.*

