# General rules
*.log
*.tgz
.env*
.DS_Store # if you're on MacOS
*.pid
*.seed
*.pid.lock

# econochrono-be-specific rules
econochrono-be/logs
econochrono-be/npm-debug.log*
econochrono-be/yarn-debug.log*
econochrono-be/yarn-error.log*
econochrono-be/lerna-debug.log*
econochrono-be/.pnpm-debug.log*
econochrono-be/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
econochrono-be/lib-cov
econochrono-be/coverage
econochrono-be/*.lcov
econochrono-be/.nyc_output
econochrono-be/.grunt
econochrono-be/bower_components
econochrono-be/.lock-wscript
econochrono-be/build/Release
econochrono-be/node_modules/
econochrono-be/dist
econochrono-be/jspm_packages/
econochrono-be/web_modules/
econochrono-be/*.tsbuildinfo
econochrono-be/.npm
econochrono-be/.eslintcache
econochrono-be/.stylelintcache
econochrono-be/.rpt2_cache/
econochrono-be/.rts2_cache_cjs/
econochrono-be/.rts2_cache_es/
econochrono-be/.rts2_cache_umd/
econochrono-be/.node_repl_history
econochrono-be/.parcel-cache
econochrono-be/.next
econochrono-be/out
econochrono-be/.nuxt
econochrono-be/.vuepress/dist
econochrono-be/.temp
econochrono-be/.cache
econochrono-be/.docusaurus
econochrono-be/.serverless/
econochrono-be/.fusebox/
econochrono-be/.dynamodb/
econochrono-be/.tern-port
econochrono-be/.vscode-test
econochrono-be/.yarn/cache
econochrono-be/.yarn/unplugged
econochrono-be/.yarn/build-state.yml
econochrono-be/.yarn/install-state.gz
econochrono-be/.pnp.*

# econochrono-fe-specific rules
econochrono-fe/logs
econochrono-fe/npm-debug.log*
econochrono-fe/yarn-debug.log*
econochrono-fe/yarn-error.log*
econochrono-fe/lerna-debug.log*
econochrono-fe/.pnpm-debug.log*
econochrono-fe/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
econochrono-fe/lib-cov
econochrono-fe/coverage
econochrono-fe/*.lcov
econochrono-fe/.nyc_output
econochrono-fe/.grunt
econochrono-fe/bower_components
econochrono-fe/.lock-wscript
econochrono-fe/build/Release
econochrono-fe/node_modules/
econochrono-fe/jspm_packages/
econochrono-fe/web_modules/
econochrono-fe/*.tsbuildinfo
econochrono-fe/.npm
econochrono-fe/.eslintcache
econochrono-fe/.stylelintcache
econochrono-fe/.rpt2_cache/
econochrono-fe/.rts2_cache_cjs/
econochrono-fe/.rts2_cache_es/
econochrono-fe/.rts2_cache_umd/
econochrono-fe/.node_repl_history
econochrono-fe/.parcel-cache
econochrono-fe/.next
econochrono-fe/out
econochrono-fe/.nuxt
econochrono-fe/.vuepress/dist
econochrono-fe/.temp
econochrono-fe/.cache
econochrono-fe/.docusaurus
econochrono-fe/.serverless/
econochrono-fe/.fusebox/
econochrono-fe/.dynamodb/
econochrono-fe/.tern-port
econochrono-fe/.vscode-test
econochrono-fe/.yarn/cache
econochrono-fe/.yarn/unplugged
econochrono-fe/.yarn/build-state.yml
econochrono-fe/.yarn/install-state.gz
econochrono-fe/.pnp.*

